.set {

  p {
    margin: 0;
  }

  &__progress-cell {
    width: 68px;
    text-align: center;
  }

  &__by-piece {
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  &__filters {
    display: flex;
    gap: 24px;
    padding: 24px 16px;
    align-items: center;
  }

  &__row {
    background-color: var(--md-theme-color-surface-0) !important;

    &:hover {
      background-color: var(--md-theme-color-surface-1) !important;
    }
  }

  &__total {
    margin-left: auto;
  }

  &__pointer {
    cursor: pointer;
  }

  &__cell-size {
    width: 68px;
  }
}
