<section class="set">
  <div class="set__filters">
    <mat-form-field appearance="outline"
                    [floatLabel]="'always'">
      <mat-label>Filter by PartID</mat-label>
      <input matInput [formControl]="idFilterControl">
    </mat-form-field>
    <mat-checkbox [formControl]="hideCompletedControl">Hide completed</mat-checkbox>
    <span class="title-medium set__total"
          *ngIf="total$ | async as total">
      {{total.progress}}/{{total.quantity}}
    </span>
  </div>
  <table mat-table
         [dataSource]="(dataSource$ | async)!"
         [trackBy]="trackBy">
    <ng-container matColumnDef="PartID">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.element_id}} </td>
    </ng-container>
    <ng-container matColumnDef="PartName">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell
          class="set__pointer"
          *matCellDef="let element"
          (dblclick)="complete(element)">
        <p><strong>{{element.part.name}}</strong></p>
        <p>{{ element.color.name }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="ImageURL">
      <th mat-header-cell *matHeaderCellDef
          class="set__cell-size"> Image</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.part.part_img_url" width="64" height="64" [alt]="element.part.name" style="vertical-align: inherit;">
      </td>
    </ng-container>
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity</th>
      <td mat-cell *matCellDef="let element"> {{element.progress}}/<strong>{{element.quantity}}</strong></td>
    </ng-container>
    <ng-container matColumnDef="Progress">
      <th mat-header-cell *matHeaderCellDef class="set__cell-size"> Progress</th>
      <td mat-cell *matCellDef="let element" class="set__progress-cell">
        <mat-icon class="set__quantity-icon"
                  [color]="element.progress > element.quantity ? 'warn' : undefined">
          {{ element.progress === element.quantity ? "check_circle" : "sync_problem" }}
        </mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="By_Piece">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Add/Remove</th>
      <td mat-cell *matCellDef="let element">
        <div class="set__by-piece">
          <button mat-icon-button
                  (click)="addQuantity(element.element_id, 1)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button
                  (click)="addQuantity(element.element_id, -1)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="By_Number">
      <th mat-header-cell *matHeaderCellDef> Add/Remove</th>
      <td mat-cell *matCellDef="let element">
        <app-set-quantity-input (add)="addQuantity(element.element_id, $event)"></app-set-quantity-input>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="set__row"></tr>
  </table>
</section>
