<section class="set">
  <div class="set__filters">
    <mat-form-field appearance="outline"
                    [floatLabel]="'always'">
      <mat-label>Filter by PartID</mat-label>
      <input matInput [(ngModel)]="idFilter">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="hideFilter">Hide completed</mat-checkbox>
  </div>
  <table mat-table [dataSource]="dataSource()">
    <ng-container matColumnDef="PartID">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.PartID}} </td>
    </ng-container>
    <ng-container matColumnDef="PartName">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"><p><strong>{{element.PartName}}</strong></p>
        <p>{{ element.Colour }}</p></td>
    </ng-container>
    <ng-container matColumnDef="ImageURL">
      <th mat-header-cell *matHeaderCellDef width="68"> Image</th>
      <td mat-cell *matCellDef="let element" width="68">
        <img [ngSrc]="element.ImageURL" width="64" height="64" [alt]="element.PartName" style="vertical-align: inherit;">
      </td>
    </ng-container>
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity</th>
      <td mat-cell *matCellDef="let element"> {{element.Progress}}/<strong>{{element.Quantity}}</strong></td>
    </ng-container>
    <ng-container matColumnDef="Progress">
      <th mat-header-cell *matHeaderCellDef width="68"> Progress</th>
      <td mat-cell *matCellDef="let element" class="set__progress-cell">
        <mat-icon class="set__quantity-icon"
                  [color]="element.Progress > element.Quantity ? 'warn' : undefined">
          {{ element.Progress === element.Quantity ? "check_circle" : "sync_problem" }}
        </mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="By_Piece">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Add/Remove</th>
      <td mat-cell *matCellDef="let element">
        <div class="set__by-piece">
          <button mat-icon-button
                  (click)="addQuantity(element.PartID, 1)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button
                  (click)="addQuantity(element.PartID, -1)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="By_Number">
      <th mat-header-cell *matHeaderCellDef> Add/Remove</th>
      <td mat-cell *matCellDef="let element">
        <app-set-quantity-input (add)="addQuantity(element.PartID, $event)"></app-set-quantity-input>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="set__row"></tr>
  </table>
</section>
